iframe{
    width: 100vw;
    height:75vh;
 
}
body{
    background-color: #F3F1EC;
}
nav{
    background-color: #7C5020;
}

.links{
    color:white !important;
}
.links:hover{
    border-bottom: 2px solid white;
}


